
body {
    background-color: rgb(46, 211, 17);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: clamp(5px, 25px, 50px);
    text-align: center;
   
    
    
}

img {
    width: 30px;
    height: 30px; 
    
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 40%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
   box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

button:hover {
    background-color: rgb(65, 59, 59);
}

button:active {
    background-color: rgb(143, 127, 127);
}

.lyricsBox { 
    font-size: clamp(5px, 11px, 30px);     /* Lager avstand fra kantene */
    margin-top: 20px;       /* Lager avstand til knappen over */
    white-space: pre-wrap;  /* Gjør at lange linjer hopper ned, så de ikke forsvinner ut av skjermen */
    word-break: break-word; /* Hindrer at lange ord ødelegger layouten */
    background-color: black;/* Valgfritt: en lys bakgrunn gjør det lettere å se boksen */
    border-radius: 20px;     /* Valgfritt: runder av hjørnene */
    text-align: center;       /* Holder teksten til venstre */
    box-shadow: 0px 5px 10px 0px rgba(49, 106, 37, 10.5);
    font-family: Arial, Helvetica, sans-serif;  
    color: white;
     width: 96%;
}



    

pre h2 {
    font-size: 18px;
   
}
@media (max-width: 566px) {
    .lyricsBox{
        margin: 10px;
    }

    input {
        width: 40%;
        margin: 8px;
    }
}

@media (max-width: 500px) {
    .lyricsBox {
       width: 90%;
       font-size: 8px;
       margin: 20px;
    }
}

@media (max-width: 480px) {
    input {
        width: 38%;
    }
}

@media (max-width: 431px) {

    input {
        width: 35%;
        margin: -10px;
        margin-left: 5%;
    }

    button {
        margin-left: 20px;
    }

    .lyricsBox {
        width: 90%;
         font-size: 7px;
    }
    
}



@media (max-width: 360px) {
     .lyricsBox {
        width: 87%;
       font-size: 7px;
       margin: 20px;
       
       
     }
}



