
body {
    background-color: rgb(46, 211, 17);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
   
    
    
}

img {
    width: 40px;
    height: 40px; 
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 40%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
   box-shadow:  0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

button:hover {
    background-color: rgb(65, 59, 59);
}

button:active {
    background-color: rgb(143, 127, 127);
}

pre {
    font-size: 11px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 96%;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;  
     box-shadow: 0px 5px 10px 0px rgba(49, 106, 37, 10.5);
    
}

pre b {
     -webkit-text-stroke: 0.2px rgb(155, 152, 152);
}

pre h2 {
    font-size: 18px;
   
}
@media (max-width: 566px) {
    pre {
        margin: 10px;
    }

    input {
        width: 40%;
        margin: 8px;
    }
}

@media (max-width: 500px) {
    pre {
       width: 90%;
       font-size: 8px;
       margin: 20px;
    }
}

@media (max-width: 480px) {
    input {
        width: 38%;
    }
}

@media (max-width: 431px) {

    input {
        width: 35%;
        margin: -10px;
        margin-left: 5%;
    }

    button {
        margin-left: 20px;
    }

    pre {
        width: 90%;
         font-size: 7px;
    }
    
}



@media (max-width: 360px) {
     pre {
        width: 87%;
       font-size: 7px;
       margin: 20px;
       
       
     }
}



