
body {
    background-color: rgb(46, 211, 17);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    
    
    
}

img {
    width: 40px;
    height: 40px; 
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 40%;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;

}

button:hover {
    background-color: rgb(65, 59, 59);
}

button:active {
    background-color: rgb(143, 127, 127);
}

pre {
    font-size: 12px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
    
}

pre h1 {
    font-size: 18px;
}